body{
  width: auto;
  font-size: 96px;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.jampButton{
  position: fixed;
  bottom: 20px;
  right: 10px;
  font-size: 2rem;
  z-index: 1;
  text-shadow    :
  2px  2px 1px #ffffff,
  -2px  2px 1px #ffffff,
  2px -2px 1px #ffffff,
  -2px -2px 1px #ffffff,
  2px  0px 1px #ffffff,
  0px  2px 1px #ffffff,
  -2px  0px 1px #ffffff,
  0px -2px 1px #ffffff;
}

.jampButton>a{
  text-decoration-line: none;
}

.hamburger{
  display: none;
}


/*トップ*/
.top{
  width: 100%;
  position: relative;
}

.topBgImgBox{
  width: 90%;
  margin: 0 auto;
}

.top>img{
  width: 100%;
  height: 38rem;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 1500px 300px;
  border-bottom-left-radius: 1500px 300px;
  opacity: 0.8;
  z-index: 0;
}

.topTextBox{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  writing-mode: vertical-rl;
}

.toptext{
  font-size: 2rem;
  font-weight: bold;
  text-shadow    :
  2px  2px 1px #ffffff,
  -2px  2px 1px #ffffff,
  2px -2px 1px #ffffff,
  -2px -2px 1px #ffffff,
  2px  0px 1px #ffffff,
  0px  2px 1px #ffffff,
  -2px  0px 1px #ffffff,
  0px -2px 1px #ffffff;
}

.topImgBox{
  width: 90%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translateX(-50%);
}

.leftBox,.centerBox,.rightBox{
  width: 30%;
  display: flex;
  justify-content: center;
}

.centerBox{
  padding-top: 2rem;
}

.leftBox>img, .centerBox>img, .rightBox>img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius:50%;
  text-align: center;
}

.logoBox{
  width: 100%;
  margin-top: 6rem;
}

.logoBox>img{
  width: 100%;
}

.mainContentsTop{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(27,37,89);
  padding: 1rem;
}

.mainContentsLeft{
  width: 50%;
  margin-right: 1rem;
}

.mainContentsLeft>img{
  width: 100%;
  display: block;
}

.mainContentsRight{
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgb(134, 105, 61);
  padding: 0.5rem;
}

.messageUp{
  position: relative;
  width: 100%;
  height: 70%;
  background: url(../img/img_salt01.jpg) no-repeat center/cover;
  padding: 1rem;
}

.messageUp>p{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  font-weight: bold;
  color: #000;
  text-shadow    :
  2px  2px 1px #ffffff,
  -2px  2px 1px #ffffff,
  2px -2px 1px #ffffff,
  -2px -2px 1px #ffffff,
  2px  0px 1px #ffffff,
  0px  2px 1px #ffffff,
  -2px  0px 1px #ffffff,
  0px -2px 1px #ffffff;
  margin-left: 1rem;

  @media screen and (max-width: 1280px) {
    font-size: 2.5rem;
  }

}

.messageDwn{
  background-color: rgb(134, 105, 61);
}

.messageDwn>p{
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  margin-left: 1.5rem;
  @media screen and (max-width: 1280px) {
    font-size: 2.5rem;
  }
}

.mainContentsPride{
  width: 100%;
  background: url(../img/bgimg_ine.jpg) no-repeat center/cover;
  margin-top: 1rem;
  position: relative;
}

.transparent_sp>h1{
  text-align: center;
  font-size: 5rem;
}

.transparent{
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  padding-bottom: 8rem;
}

.text{
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.pMarginTop{
  margin-top: 1rem;
}

.mainConttentsPrideImage{
  width: 400px;
  position: absolute;
  bottom: -8rem;
  right: 0;
}

.mainConttentsPrideImage>img{
  width: 100%;
  border-radius: 50%;
}

.mainContentsCampaign{
  width: 100%;
  margin-top: 8rem;
  padding: 1rem;
}

.campaignWrapper{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.campaignImg{
  width: 40%;
}

.campaignImg>img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.campaignBox{
  width: 60%;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: rgb(27,37,89);
  padding: 1rem;
  border-radius: 10px;
}

.campaignTextBox{
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
}

.campaignText{
  font-size: 2.3rem;
}

.textMarker{
  background: linear-gradient(transparent 50%, #fbff0d 50%);
}

.textred{
  color: rgb(187, 43, 43);
}

.textred::before{
  content: "<br>" ;
  white-space: pre;
}

.textBox{
  padding-top: 2em;
  padding-bottom: 2em;
}

.xIcon{
  width: 180px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
}

footer{
  width: 100%;
  background-color: rgb(134, 105, 61);
  color: #fff;
  border-top: rgb(27,37,89) solid 18px;
  margin-top: 2rem;
  padding-bottom: 5rem;
}

.contact{
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

.contact>h1{
  font-size: 3rem;
  text-align: center;
}

.formBox{
  width: 80%;
  margin: 0 auto;
  display: flex;
  font-size: 2rem;
}

.form{
  display: flex;
  margin: 1rem;
}

label{
  width: 300px;
}

.req::after{
  content: "*";
  color: rgb(187, 40, 40);
}

input,textarea{
  width: 500px;
  border-radius: 5px;
}

.addressBox{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.address{
  font-size: 2rem;
  margin-left: 2rem;
}

.footerMenuBox{
  font-size: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}


ul{
  width: 600px;
  display: flex;
  justify-content: space-between
  ;
}

.Copyright{
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .hamburger{
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    position: relative;
  }
  #overlay-button {
    width: 90px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }
  #overlay-button span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: rgb(27,37,89);
    position: relative;
    display: block;
    transition: all .2s ease-in-out;
  }
  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 10px;
  }
  #overlay-button span:before, #overlay-button span:after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: rgb(27,37,89);
    position: absolute;
    content: "";
    transition: all .2s ease-in-out;
  }
  #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
    background: rgb(27,37,89);
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }
  input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;

  }
  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);

  }
  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);
  }
  #overlay {
    height: 100vh;
    width: 100vw;
    background: #fff;
    z-index: 2;
    visibility: hidden;
    position: fixed;
  }

  #overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
  }
  #overlay ul li {
    width: 100%;
    padding: 1em;
    border-bottom: rgb(27,37,89) solid 2px;
  }
  #overlay ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5em;
  }
  #overlay ul li a:hover {
    color: #000!important;
  }

  body{
    font-size: 16px;
  }
  .topTextBox,.topImgBox{
    display: none;
  }
  .top>img{
    height: 28rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 1500px 300px;
    border-bottom-left-radius: 1500px 300px;
  }

  main{
    display: flex;
    flex-flow: column;
    justify-content:space-around;
  }
  .logoBox{
    position: absolute;
    top:10px;
  }

  .mainContentsTop{
    background-color: #fff;
    display: block;
  }
  .messageUp,.messageDwn{
    width: 100%;
  }

  .mainContentsLeft,.mainContentsRight,.mainContentsPride{
    width: 90%;
    margin: 0 auto;
  }

  .messageUp{
    height: 28rem;
  }

  .messageUp>p{
    font-size: 3em;
  }

  .messageDwn>p{
    font-size: 2em;
  }

  .mainContentsPride{
    background-image: none;
  }

  .transparent{
    padding: 0.5rem;
  }
  .transparent_sp{
    background: url(../img/bgimg_ine.jpg) no-repeat center/cover;
  }
  .transparent_sp>h1{
    font-size: 3em;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .text>p{
    font-size: 0.8em;
  }
  .mainConttentsPrideImage{
    position: static;
    width: 90%;
    margin: 0 auto;
  }

  .campaignImg{
    display: none;
  }

  .mainContentsCampaign{
    margin: 0;
    padding: 0;
  }

  .campaignWrapper{
    display: block;
  }
  .campaignBox{
    width: 95%;
    margin: 0 auto;
    font-size: 1rem;
  }

  .campaignText{
    font-size: 1.3rem;
  }


  .form,.addressBox{
    display: block;
  }

  label,input,textarea{
    width: 100%;
    font-size: 1.5rem;
  }
  .contact{
    width: 100%;
    padding: 0;
  }
  .address{
    width: 90%;
    margin: 0 auto;
    font-size: 1.2rem;
  }

.footerMenuBox{
  display: block;
}

  ul{
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
  }

  .Copyright{
    text-align: center;
    font-size: 1rem;
  }

}
